/* Dark/Light Mode - Begin */
/* Toggles background color based on dark or light mode classes */

body.dark {
  color: white;
  background-color: black;
}

body.light {
  color: black;
  background-color: white;
}

/* Toggles dark/light mode button on dark or light mode classes */
.darkButton.dark {
  color: white;
  background-color: black;
  border: 1px solid white;
}

.darkButton.light {
  color: black;
  background-color: white;
  border: 1px solid black;
}
/* Dark/Light Mode - End */

/* Project Code Below Here */

body {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

#truckRoad {
  width: 100vw;
  height: 100vh;
}

.foodTruckImage {
  min-width: 256px;
  max-width: 256px;
}

/* displays when dark mode is enabled */
img#foodtruckHeadlight {
  /* margin: 13px; */
  margin-left: -8px;
  margin-right: 0px;
  margin-top: 0px;
  margin-bottom: 12px;
}

img#foodtruckHeadlightOff {
  /* margin: 13px; */
  margin-left: -8px;
  margin-right: 0px;
  margin-top: 0px;
  margin-bottom: 12px;
}

.lightOff {
  display: none;
}

/* Positions Text on truck */
.foodTruckContainer {
  position: relative;
  text-align: center;
  min-width: 512px;
  max-width: 512px;
  /* color: black; */
}

/* Positions Text on the truck - Begin */
/* Bottom left text */
.bottom-left {
  position: absolute;
  bottom: 8px;
  left: 16px;
}

/* Top left text */
.top-left {
  position: absolute;
  top: 8px;
  left: 16px;
}

/* Top right text */
.top-right {
  position: absolute;
  top: 8px;
  right: 16px;
}

/* Bottom right text */
.bottom-right {
  position: absolute;
  bottom: 8px;
  right: 16px;
}

/* Centered text ie. Matt's Truck */
.centered {
  position: absolute;
  top: 6%;
  left: 30%;
  transform: translate(-50%, -50%);
}
/* Positions Text on the truck - End */

/* display foodTruckCoin over foodTruckImage with z index  */
#foodTruckCoin {
  position: absolute;
  top: -50px;
  left: 100px;
  z-index: +1;
}
